*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  min-width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  html, body {
    overflow: hidden;
    height: 100svh;
  }
}

@media (max-width: 767px) {
  html, body {
    overflow: visible;
    height: auto;
  }
}

body {
  color: var(--ink);
  background: var(--paper);
}

button, a {
  font: inherit;
}